<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Game_of_Life.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Game_of_Life.Properties.Settings>
            <setting name="CellColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="BGColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="AliveColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="UniverseX" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="UniverseY" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="CurrentSeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GridVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NCVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimerInterval" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="DeadColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Finite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Toroidal" serializeAs="String">
                <value>False</value>
            </setting>
        </Game_of_Life.Properties.Settings>
    </userSettings>
</configuration>